<!doctype html>
<html>
<style>
    .floated {
    float:left;
    margin-right:5px
    }
    .imgp{
        width: 200px;
        height: 250px;
        display: inline-block;
        margin-right: 5px;

    }
</style>
<body>
<span>
<form method="post" name="l">
    <button name="l" class="floated"><img class='imgp' src="https://upload.wikimedia.org/wikipedia/en/9/9b/Luke_Skywalker.png" style="background-repeat: no-repeat;background-size: 100%"></button>
</form>
<form method="post" name="le">
    <button name="le" class="floated"><img class='imgp' src="https://upload.wikimedia.org/wikipedia/en/1/1b/Princess_Leia%27s_characteristic_hairstyle.jpg" style="background-repeat: no-repeat; background-size: 100%" name="le"></button>
</form>
<form method="post" name="r2">
    <button name="r2" class="floated"><img class='imgp' src="https://upload.wikimedia.org/wikipedia/en/3/39/R2-D2_Droid.png" style="background-repeat: no-repeat; background-size: 100%" name="r2"></button>
</form>
<form method="post" name="da">
    <button name="da" class="floated"><img class='imgp' src="https://upload.wikimedia.org/wikipedia/en/7/76/Darth_Vader.jpg" style="background-repeat: no-repeat; background-size: 100%" name="da"></button>
</form>
<form method="post" name="c3">
    <button name="c3" class="floated"><img class='imgp' src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/C-3PO_droid.png/220px-C-3PO_droid.png" style="background-repeat: no-repeat; background-size: 100%"></button>
</form></span>
</body>
</html>